<div class="mx-auto top" style="max-width: 35rem">
  <div class="container-fluid">
    <app-message></app-message>
    <section>
      <h4 class="strong">A few weeks ago in Lagos, a <a href="https://www.channelstv.com/2018/06/28/nine-people-confirmed-killed-in-lagos-tanker-explosion/">tanker explosion</a> occurred.</h4>
    </section>
    <section class="pad-sm">
      <p>In the aftermath, people began to realise how much our safety is at risk each day.</p>
      <p>Incidents like the <a href="http://sunnewsonline.com/ojuelegba-bridge-death-container-truck-lagos-flyover/">tanker falling on commuters</a> in Ojuelegba, and this fella using a cloth to <a href="https://www.thecable.ng/trending-video-tanker-spills-fuel-on-lagos-road-after-otedola-bridge-accident">block spilling fuel from a tanker</a>, have made us unsure of our safety.</p>
      <p>This small tool <a href="https://twitter.com/Ope__O" target="_blank">we</a> have made, is an attempt to start paying more attention to our safety.</p>
      <p>We'll start with collecting and searching for stuff that are a cause for concern about our safety.</p>
      <p>Eventually we'll be able to classify locations with the highest safety concerns and receive alerts (push notifications, email, WhatsApp messages etc) about critical safety concerns.</p>
      <p>All this won't be possible without your help. So if you have any suggestions, please reach out <a href="mailto:opeonikuts@gmail.cmom">here</a>.</p>
      <p>God bless.</p>
    </section>
    <!--<section>-->
      <!--<p>Wanna get notified when stuff is up? <a (click)="subscribe()">Subscribe</a> to push notifications.</p>-->
    <!--</section>-->
  </div>
</div>
<app-footer></app-footer>
