<div class="container-fluid text-center top" style="max-width: 35rem">
  <section>
    <h1 class="strong">You are awesome.</h1>
  </section>
  <section>
    <h4 class="strong">Thank you for contributing.</h4>
  </section>
  <section class="mx-auto text-left" style="max-width: 60%">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="email" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="email" class="form-control" id="description" aria-describedby="descriptionHelp">
        <small id="descriptionHelp" class="form-text text-muted">Less than 140 characters please.</small>
      </div>
      <div class="form-group">
        <label for="contentType">Content type</label>
        <input type="email" class="form-control" id="contentType" aria-describedby="contentTypeHelp">
        <small id="contentTypeHelp" class="form-text text-muted">You can only upload images for now.</small>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input type="file" class="form-control" id="content" aria-describedby="contentHelp">
      </div>
      <div class="form-group text-center">
        <a class="btn btn-naij" type="submit">Add Entry</a>
      </div>
    </form>
  </section>
</div>
