<div class="container-fluid text-center top" style="max-width: 35rem">
  <section>
    <h1 class="strong">You are awesome.</h1>
  </section>
  <section>
    <h4 class="strong">Thank you for contributing.</h4>
  </section>
  <section class="mx-auto text-left" style="max-width: 60%">
    <form name="form-upload" ngNativeValidate (submit)="uploadContent()">
      <app-message></app-message>
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" name="title" [(ngModel)]="entry.title" id="title" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" name="description" [(ngModel)]="entry.description" maxlength="140" aria-describedby="descriptionHelp" required>
        <small id="descriptionHelp" class="form-text text-muted">Less than 140 characters please.</small>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" id="location" name="location" [(ngModel)]="entry.location" maxlength="140" aria-describedby="locationHelp" required>
      </div>
      <div class="form-group text-center">
        <input class="btn btn-naij" type="submit" value="Upload Content" *ngIf="!loading && !loadingAdd">
        <a class="btn btn-naij" *ngIf="loading||loadingAdd"><span><i class="fa fa-refresh fa-spin"></i></span> Please wait.</a>
      </div>
    </form>
  </section>
</div>
