<div class="mx-auto top" style="max-width: 41rem">
  <div class="container-fluid">
    <app-message></app-message>
    <div>
      <nav class="navbar navbar-light">
        <ul class="navbar-nav mr-auto">
          <a routerLink="/entries/add"><span><i class="fa fa-plus naij"></i> Add New Entry</span></a>
        </ul>
        <ul class="navbar-nav ml-auto">
          <form class="form-inline" style="float: right;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-naij my-2 my-sm-0">Search</button>
          </form>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container-fluid">
    <div class="content-block text-center" *ngIf="loading">
      <span style="font-size: xx-large;margin: 15px auto;"><i class="fa fa-spinner fa-spin naij"></i></span>
      <span>Fetching entries..</span>
    </div>
    <div class="content-block text-center" *ngIf="!entries.length && !loading">
      <section>
        <h4 class="strong">Looks like there's nothing here yet.</h4>
      </section>
      <section>
        <p>Be a real g and <a class="naij" routerLink="/entries/add">add one</a>?</p>
      </section>
    </div>
    <div  *ngIf="entries">
      <div class="content-block" *ngFor="let entry of entries">
        <div class="img-block">
          <div class="px-2" style="background-color: white;border-bottom: 1px solid #ddd;">
            <span class="pad-sm"><small class="text-muted">{{entry.createdAt | date: 'dd/MM/yyyy'}}</small></span>
          </div>
          <div [ngSwitch]="entry.contentType">
            <img class="img-fluid" src="{{ entry.content }}" *ngSwitchCase="'image'">
            <video style="width: 100%" controls *ngSwitchCase="'video'">
              <source src="{{entry.content}}" type="video/mp4">
              Browser not supported.
            </video>
          </div>
        </div>
        <div class="mx-0">
          <h4 class="strong">{{entry.title}}</h4>
          <h6>{{entry.description}}</h6>
          <p><span class="strong">Location:</span> {{entry.location}}</p>
        </div>
        <hr style="border: 1px solid rgba(0,0,0,0.1);width: 50%;margin: 50px auto;">
      </div>
    </div>
    </div>
</div>
<app-footer></app-footer>

