<div class="mx-auto" style="max-width: 41rem;margin-top: 15px;">
  <div class="container-fluid">
    <div>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline" style="float: right;">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
  </div>
  <div class="container-fluid">
    <div class="content-block">
      <div class="img-block">
        <div class="px-2" style="background-color: white;border-bottom: 1px solid #ddd;">
          <span class="pad-sm"><small class="text-muted">27th May, 2018</small></span>
        </div>
        <img class="img-fluid" src="assets/images/BOMB-BLAST.jpg">
      </div>
      <div class="mx-0">
        <h4 class="strong">Lorem ipsum lobatan</h4>
        <h6>This is the description which adequately proves the point above.</h6>
        <p><span class="strong">Location:</span> Lagos, Nigeria.</p>
      </div>
    </div>
    <div class="content-block">
      <div class="img-block">
        <div class="px-2" style="background-color: white;border-bottom: 1px solid #ddd;">
          <span class="pad-sm"><small class="text-muted">27th May, 2018</small></span>
        </div>
        <img class="img-fluid" src="assets/images/BOMB-BLAST2.jpeg">
      </div>
      <div class="mx-0">
        <h4 class="strong">Lorem ipsum lobatan</h4>
        <h6>This is the description which adequately proves the point above.</h6>
        <p><span class="strong">Location:</span> Lagos, Nigeria.</p>
      </div>
    </div>
  </div>
</div>
