<div class="mx-auto top" style="max-width: 41rem">
  <div class="container-fluid">
    <div>
      <nav class="navbar navbar-light">
        <ul class="navbar-nav mr-auto">
          <a routerLink="/entries/add"><span><i class="fa fa-plus naij"></i> Add New Entry</span></a>
        </ul>
        <ul class="navbar-nav ml-auto">
          <form class="form-inline" style="float: right;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-naij my-2 my-sm-0">Search</button>
          </form>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container-fluid">
    <div class="content-block">
      <div class="img-block">
        <div class="px-2" style="background-color: white;border-bottom: 1px solid #ddd;">
          <span class="pad-sm"><small class="text-muted">27th May, 2018</small></span>
        </div>
        <img class="img-fluid" src="assets/images/BOMB-BLAST.jpg">
      </div>
      <div class="mx-0">
        <h4 class="strong">Lorem ipsum lobatan</h4>
        <h6>This is the description which adequately proves the point above.</h6>
        <p><span class="strong">Location:</span> Lagos, Nigeria.</p>
      </div>
    </div>
    <div class="content-block">
      <div class="img-block">
        <div class="px-2" style="background-color: white;border-bottom: 1px solid #ddd;">
          <span class="pad-sm"><small class="text-muted">27th May, 2018</small></span>
        </div>
        <img class="img-fluid" src="assets/images/BOMB-BLAST2.jpeg">
      </div>
      <div class="mx-0">
        <h4 class="strong">Lorem ipsum lobatan</h4>
        <h6>This is the description which adequately proves the point above.</h6>
        <p><span class="strong">Location:</span> Lagos, Nigeria.</p>
      </div>
    </div>
  </div>
</div>
