<div class="container-fluid text-center top" style="max-width: 35rem">
  <section>
    <h1 class="strong">We are concerned.</h1>
  </section>
  <section>
    <h4 class="strong">About our safety in Nigeria.</h4>
  </section>
  <section class="pad-sm">
    <h6>A few days ago, someone asked on Twitter:</h6>
    <h6 class="naij strong">Why aren't there any places we can store and view safety information that might just save our lives?</h6>
    <h6><span class="strong">As of right now we haven't found any,</span> so we decided to make one.</h6>
  </section>
  <section class="pad-sm">
    <a class="btn btn-naij" routerLink="/entries">Get Started</a>
  </section>
</div>
